src/main/mule/jenkins-with-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="641fe314-f1e1-4369-8eff-37d52827bb75" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="61ed3120-159a-441c-82b9-3f8757d89a45" file="dev.yaml" />
	<flow name="jenkins-with-muleFlow" doc:id="c40b5419-7330-48bd-b523-5c121527bcb7" >
		<http:listener doc:name="Listener" doc:id="fed2fe9b-064d-4b2b-acb7-f6bdb88d0dd0" config-ref="HTTP_Listener_config" path="/cloud1"/>
		<set-payload value='#["hello batch 22"]' doc:name="Set Payload" doc:id="d3cd7db4-c9d4-4a4a-b368-1519ee0a8ddd" />
	</flow>
</mule>
